@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#app { height: 100% }

:root {
  --primary-text-color: #0C2EB2;
}

* {
  transition: 300ms all ease;
  font-family: "Space Mono", serif;
  color: var(--primary-text-color);
  /* background-color: #FFF6E4; */
}


html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {

  font-family: "Space Mono", serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
   background-color: #FFF6E4 !important;
}
/* prakhar */

/* off canvas */
.offcanvasBtn {
  border-radius: 12px !important;
  padding: 10px 10px;
  background-color: white !important;
  border: none !important;
}
.offcanvasBtn:hover {
  background-color: var(--primary-text-color) !important;
  border: none;
  color: white !important;
}

.loginBtnsOffcanvas {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.offcanvasBtn:hover svg path {
  fill: white;
}
.offcanvasContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-offcanvas ul {
  display: flex;
  gap: 27px;
  flex-direction: column;
}
/* off canvas */
/* prakhar */



.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 500px;
  /* overflow: unset; */
}
.swiper-3d {
  padding-top: 50px !important;
}
.swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right {
  background-image: unset !important;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-3d .swiper-slide-shadow-left ,.swiper-3d .swiper-slide-shadow-right {
  background: none;
}
.carouselImg {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}
a,
button {
  cursor: pointer;
}
@media (max-width : 1280px){
  .carouselImg {
    width: 250px;
    height: 380px;
  
  }
}
@media (max-width : 1024px){
  .carouselImg {
    width: 150px;
    height: 380px;
    
  }
}
@media (max-width : 768px){
  .carouselImg {
    width: 80px;
    height: 380px;
    
  }
}

@media (max-width : 480px){
  .carouselImg {
    width: 60px;
    height: 160px;
    
  }
  .swiper-slide-active{
    width: 126px;
  }
}


#topAccordion button{
  border-top: none;
}


/* ---------------------------------------hero carousel-------------------------------------------------- */

imgContainer {
  padding: 0px 10px;
}

.sliderImg {
  border-radius: 24px;
  width: 229px;
  height: auto;
  /* display: flex;
    justify-content: end; */
    /* margin: 20px; */
}

.hero {
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .slick-slider.slick-initialized {
  width: 100%;
}


.hero .heading h1{
  text-align: center;
  font-family: Space Mono;
  font-size: clamp(2rem, 0.954rem + 3.893vw, 5.625rem);
  font-weight: 700;
  line-height: clamp(2.813rem, 1.352rem + 5.436vw, 7.875rem);
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* color: var(--primary-text-color); */
  color: #0C2EB2;
}
.hero .menu {
  font-size: clamp(0.75rem, 0.583rem + 0.347vw, 1rem);
}

.hero .subHeading h2 {
  text-align: center;

  font-size: clamp(0.875rem, 0.767rem + 0.403vw, 1.25rem);
  font-weight: 400;
  line-height: clamp(1.4rem, 1.227rem + 0.644vw, 2rem);
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--primary-text-color);
}

.hero .subHeading h2 span {
  font-family: Space Mono;
  font-size: clamp(0.875rem, 0.767rem + 0.403vw, 1.25rem);
  font-weight: 700;
  line-height: clamp(1.4rem, 1.227rem + 0.644vw, 2rem);
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.hero .getStartedLink {
  /* width: 100%; */
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  /* text-decoration-skip-ink: none; */
  cursor: pointer;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 11px 27px;
  /* padding: 6px 14px 6px 14px; */
  gap: 16px;
  border-radius: 12px;

  /* font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 14px 28px 14px 28px;
  gap: 16px;
  border-radius: 12px; */
  color: white;
  background-color: var(--primary-text-color);
  border: 2px solid transparent;
}
.hero .getStartedLink:hover {
  background-color: white;
  color: var(--primary-text-color);

  border: 2px solid var(--primary-text-color);
}
.hero .getStartedLink:hover svg path {
  fill: var(--primary-text-color);
}


@media(max-width :1440px){

  .sliderImg {
    border-radius: 24px;
    width: 200px;
    height: auto;
    display: flex;
    justify-content: end;
  }
}



/* ======================full css========= */


/* off canvas */
.offcanvasBtn {
  border-radius: 12px;
  padding: 10px 10px;
  background-color: white;
  border: none;
}
.offcanvasBtn:hover {
  background-color: var(--primary-text-color);
  border: none;
  color: white;
}

.loginBtnsOffcanvas {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.offcanvasBtn:hover svg path {
  fill: white;
}
.offcanvasContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-offcanvas ul {
  display: flex;
  gap: 27px;
  flex-direction: column;
}
/* off canvas */

/* siteNavbar */

/* .siteNavbar {
.container{
  max-width: 92.5%;
}


 */

/* } */
.siteNavbar{
  margin-top: 30px;
  margin-bottom: 70px;

}
.siteNavbar .container{
  max-width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("/images/arrow2.svg") !important;
}
.faq .accordion-button::after {
  background-image: url("/images/arrow2.svg") !important;
}


.menu ul {
  padding-left: 0;
  display: flex;
  gap: 44px;
  color: var(--primary-text-color);
  margin-bottom: 0;
  height: 38px;

 
}
.menu ul li{
  text-wrap: nowrap;
  padding: 6px 10px ;
  text-decoration: none;
  list-style: none;
  position: relative;
  border: 1px solid transparent;
  /* border: 1px solid transparent; */
}
.menu ul li a{
color: #0C2EB2;
}

.menu ul li::before{
  position: absolute;
  content: url(/images/point.svg);
  left: -16px;
}
.menu ul li:hover::before {
  content: ""; 
}

.menu ul li a{ 
  
  text-decoration: none;
}
.menu ul li:hover {
  list-style: none;
  border-radius: 30px;
  border: 1px solid #0c2eb2;
}

.unstyle{
  list-style: none;
}
.parentCreator{
  display: flex;
  justify-content: center
}
.creatorsImg{
  display: flex;
    gap: 13px;
    border: 1px solid #0C2EB2;
    padding: 6px 20px 6px 8px;
    border-radius: 12px;

}
.creatorsImg span{
  font-weight: 700;
  color: #0C2EB2;
}
.creatorsText{
  margin: auto;
 
}
.creatorsText span{
  font-weight: 700;
}



.logo {
  font-family: Space Mono;
  font-size: clamp(1.063rem, 0.918rem + 0.537vw, 1.563rem);
  font-weight: 700;
  line-height: clamp(1.611rem, 1.405rem + 0.767vw, 2.326rem);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 11px;
}

.loginBtns {
  display: flex;
  gap: 11px;
}

.freeTrial {
  align-items: center;
  display: flex;
  padding: 11px 24px;
  border-radius: 9px;
  color: white;
  font-family: Space Mono;
  font-size: clamp(1rem, 0.833rem + 0.347vw, 1.25rem);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: #0c2eb2;
  border: 1px solid #0C2EB2;
  text-decoration: none;
}
.freeTrial:hover{
background-color: transparent;
color: #0C2EB2;
border: 1px solid #0C2EB2;
/* padding: 8.5px clamp(0.5rem, -0.665rem + 1.804vw, 1.5rem); */
}
.startedBtn{
  padding: 14px 28px;
  background-color: #0C2EB2;
  color: white;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  max-width: 239px;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  border: 1px solid #0C2EB2;
}
.startedBtn img{
  background-color: #0C2EB2;
}


.login {
  align-items: center;
  display: flex;
  color: #0c2eb2;
  font-family: Space Mono;
  font-size: clamp(1rem, 0.833rem + 0.347vw, 1.25rem);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
text-decoration: none;
  padding: 11px 24px;
  gap: 10px;
  border-radius: 12px;
  border: 1px;

  border: 1px solid #0c2eb2;
}
.login:hover {
background-color: #0C2EB2;
color: white;
}

.toggle {
  display: none;
}
/* h1{
!important;
} */

/* --------------------- hero---------------- */

/*--------------------- hero -------------------------*/

.hero .imgContainer {
  padding: 0px 10px;
}

.hero .sliderImg {
  border-radius: 24px;
}

.hero {
  /* margin-bottom: 24px; */
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .slick-slider.slick-initialized {
  width: 100%;
}

.hero {
  padding: 20px 10px;
}

.hero .overflowHide {
  width: 100%;
  overflow: hidden;
}

.hero .slick-track {
  align-items: center;
  text-align: center;
  display: flex;
}

.hero .sliderImg {
  width: 100%;
  height: auto;
}

/* .slick-center.slick-slide{
  outline: none;
  width: 346px;
  width: 308px !important;
} */
.hero .slick-center .imgContainer {
  width: 100% !important;
  display: inline-block;
  padding: 0px 10px;
  width: 308px !important;
}
.hero .imgContainer {
  width: 100% !important;
  display: inline-block;
  padding: 0px 10px;
  width: 200px !important;
}

.hero .slick-slide {
  /* width: fit-content !important; */
  /* Dim non-center slides */
  transition: opacity 0.5s ease; /* Smooth opacity transition */
}

.hero .slick-list {
  overflow: visible; /* Allow larger center slide to extend beyond boundaries */
}

.hero .heading h1 {
  text-align: center;
  font-family: Space Mono;
  font-size: clamp(2rem, 0.954rem + 3.893vw, 5.625rem);
  font-weight: 700;
  line-height: clamp(2.813rem, 1.352rem + 5.436vw, 7.875rem);
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--primary-text-color);
  max-width: 1057px;
}
.hero .menu {
  font-size: clamp(0.75rem, 0.583rem + 0.347vw, 1rem);
}

.hero .subHeading h2 {
  text-align: center;

  font-size: clamp(0.875rem, 0.767rem + 0.403vw, 1.25rem);
  font-weight: 400;
  line-height: clamp(1.4rem, 1.227rem + 0.644vw, 2rem);
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--primary-text-color);
}

.hero .subHeading h2 span {
  font-family: Space Mono;
  font-size: clamp(0.875rem, 0.767rem + 0.403vw, 1.25rem);
  font-weight: 700;
  line-height: clamp(1.4rem, 1.227rem + 0.644vw, 2rem);
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.hero .getStartedLink {
  /* width: 100%; */
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  /* text-decoration-skip-ink: none; */
  cursor: pointer;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 11px 27px;
  /* padding: 6px 14px 6px 14px; */
  gap: 16px;
  border-radius: 12px;

  /* font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 14px 28px 14px 28px;
  gap: 16px;
  border-radius: 12px; */
  color: white;
  background-color: var(--primary-text-color);
  border: 2px solid transparent;
}
.hero .getStartedLink:hover {
  background-color: white;
  color: var(--primary-text-color);

  border: 2px solid var(--primary-text-color);
}
.hero .getStartedLink:hover svg path {
  fill: var(--primary-text-color);
}

/* ------------------------------------curiousHow-------------------------- */

.curiousHow {
  margin-bottom: 169px;
  margin-top: 118px;
  /* overflow: hidden; */
  /* padding: 20px 10px; */
  max-width: 1920px;
  margin-left: auto;
  padding-left: 0px;
  margin: auto;
  margin-top: 118px;
  margin-bottom: 169px;
  padding-left: 160px;


}
.curiousHow .heading h1{
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  /* margin: 1px auto 100px auto; */
  max-width: 1343px;
  margin-bottom: 117px;

}

.curiousHow .col-md-6:has(.image) {
  margin: auto;
  display: flex;
  flex-direction: column;
}


.curiousHow h2 {
  font-family: Space Mono;
  font-size: clamp(1.5rem, 1.356rem + 0.537vw, 2rem);
  font-weight: 400;
  line-height: 44.66px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.curiousHow p {
  font-family: Space Mono;
  font-size: clamp(1.125rem, 1.089rem + 0.134vw, 1.25rem);
  font-weight: 400;
  line-height: clamp(1.563rem, 1.49rem + 0.268vw, 1.813rem);
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.curiousHow span {
  margin: auto;
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 400;
  line-height: 44.66px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.curiousHow .itemIndex {
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;
}

.curiousHow .itemText {
  padding: 5px 75px 33px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.curiousHow .step:hover .itemIndex::after {
  top: 0;
  right: 0;
  position: absolute;
  content: "";
  height: 100%; /* Length of the border */
  border-right: 4px solid var(--primary-text-color); /* Border style */
}
.curiousHow .step:hover h2 {
  font-weight: 700;
}

.curiousHow .image {
  display: flex;
  right: -6px;
  width: 92%;
  position: absolute;
  top: 17%;
  border-radius: 23px;
  z-index: 3;
}

.curiousHow .backRectangleBottom {
  /* z-index: 0; */
  overflow: hidden;
  right: -55px;
  position: absolute;
  /* padding-bottom: -93px; */
  padding: 39%;
  border-radius: 35px;
  /* width: 100%; */
  position: relative;
  background: #0C2EB2;
}
.curiousHow .backRectangle{
  border-radius: 23.27px;
  z-index: 1;
  right: 1.5%;
  height: 23%;
  top: 10%;
  position: absolute;
  width: 86%;
  background-color: #2044D2;

}

/* -----------------------------------contentCard--------------------- */



.cardGroup {
  padding: 0px clamp(1.125rem, -1.436rem + 9.53vw, 10rem);
}

.contentCard .container {
  margin-bottom: 90px;
  padding: 32px clamp(1.375rem, 1.195rem + 0.671vw, 2rem);
  backdrop-filter: blur(17px);
  border-radius: 16px;
  border: 2px solid #0c2eb2;
}

.contentCard .text {
  padding: 0px 20px;
}
.contentCard h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28.9px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.contentCard h2 {
  text-align: center;

  font-size: clamp(1.5rem, 1.031rem + 1.745vw, 3.125rem);
  font-weight: 700;
  line-height: clamp(2.063rem, 1.395rem + 2.483vw, 4.375rem);
  letter-spacing: -4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 16px;
}

.contentCard p {
  font-size: clamp(1rem, 0.928rem + 0.268vw, 1.25rem);
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.contentCard li {
  font-size: clamp(1rem, 0.928rem + 0.268vw, 1.25rem);
  font-weight: 400;
  line-height: clamp(1.375rem, 1.141rem + 0.872vw, 2.188rem);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.contentCard .image {
  margin: auto;
}
.contentCard img {
  width: 100%;
  height: auto;
}






/* -----------------last card---growCard-------------- */

.growCard {
  margin-bottom: 169px;
}

/* ---------------------------------------growAudience-------------- */

/* -----------------------slideroverflowbuttonHide------------------ */

.slick-next:before {
  display: none;
}

/* -----------------------slideroverflowbuttonHide------------------ */

.growAudience {
  /* check if it has problems */
  margin-bottom: 105px;
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* check if it has problems */

  overflow: hidden;
}

.growAudience .sliderContainer {
  overflow: hidden;
}
/* slider */

.growAudience h1 {
  font-size: clamp(1.75rem, 0.632rem + 4.161vw, 5.625rem);
  font-weight: 700;
  line-height: clamp(2.438rem, 1.518rem + 3.423vw, 5.625rem);
  letter-spacing: -4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 28px;
}
.growAudience p {
  font-size: clamp(1.125rem, 1.017rem + 0.403vw, 1.5rem);
  font-weight: 400;
  line-height: clamp(1.563rem, 1.418rem + 0.537vw, 2.063rem);
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.growAudience .startYourLink {
  margin: 0 auto 121px;
  /* margin: auto; */
  text-decoration: none;
  background-color: #0C2EB2;
  max-width: fit-content;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  gap: 16px;
  align-items: center;
  padding: 14px 28px 14px 28px;
  gap: 16px;
  border-radius: 12px;
  color: white;
  background-color: var(--primary-text-color);
  /* margin-top: 80px; */
}

.growAudience .startYourLink:hover {
  background-color: white;
  color: var(--primary-text-color);
  border: 2px solid var(--primary-text-color);
}

.growAudience .startYourLink:hover svg path {
  fill: var(--primary-text-color);
}

.growAudience .marqueeContainer {
  position: relative;
}

.growAudience .bgStripe {
  position: absolute;
  transform: rotate(-1.25deg);
  width: 179vw;
  height: 94%;
  background-color: #6d7ec6;
  z-index: 0;
}

.growAudience marquee {
  padding: 17px;
  transform: rotate(0.75deg);
  background-color: var(--primary-text-color);
}

.growAudience marquee img {
  margin-right: 20px;
}

.growAudience marquee span {
  padding: 0px 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

/* -------------------------------------faq---------------------------- */
.faq {
  margin-bottom: 105px;
}
.faq .container {
  padding: 0px;
}
.faq .headingText {
  margin-bottom: 84px;
  display: flex;
  flex-direction: column;
margin: auto auto 40px auto;
  gap: 28px;
}
.faq .accordion-button {
  padding: 32px;
  box-shadow: none !important;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 24px 24px 0px 0px;
  background-color: #FFF6E4 !important;
  border-top: 1px solid #0C2EB2;
}
.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: #FFF6E4  !important
}
.accordion-item {
  background-color: #FFF6E4;
}
.accordion-button:not(.collapsed) {
  background-color: #FFF6E4 !important;
}


.faq .accordion-body {
  padding: 0px 32px 32px 32px;

  font-size: clamp(0.875rem, 0.767rem + 0.403vw, 1.25rem);
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.faq .accordion-button::after {
  color: var(--primary-text-color);
}
.faq h2.accordion-header  button {
  font-size: clamp(1.25rem, 1.178rem + 0.268vw, 1.5rem);
  font-weight: 700;
  line-height: clamp(1.75rem, 1.649rem + 0.376vw, 2.1rem);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-top:  1px solid #0C2EB2;
}

.faq .accordion-header {
  overflow: hidden;
  border-radius: 24px !important;
  /* margin-bottom: 33px; */
}

.faq .accordion-header:focus {
  outline: none;
}

.faq .accordion-item {
  backdrop-filter: blur(11.800000190734863px);

  margin-bottom: 32px;
  /* margin: 40px 0px; */
  border: 1px solid #0c2eb2;
  border-radius: 24px !important;
  border-radius: 20px;
}

.faq h1 {
    margin: auto;
  color: var(--primary-text-color);
  font-family: Space Mono;
  font-size: clamp(1.75rem, 0.812rem + 3.49vw, 5rem);
  font-weight: 700;
  line-height: clamp(2.469rem, 1.558rem + 3.389vw, 5.625rem);
  letter-spacing: -4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 1037px;
  font-size: 80px;
}
.faq h2 {
  font-size: clamp(1.125rem, 1.017rem + 0.403vw, 1.5rem);
  font-weight: 400;
  line-height: clamp(1.563rem, 1.418rem + 0.537vw, 2.063rem);
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* font-size: 24px; */
}

/* -------------------footer---------------- */

.footer {
  padding: 90px 160px;
  gap: 12px;
  /* opacity: 0px; */
  background-color: var(--primary-text-color);
}

.footer .footerContent {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.footer #mobileVisibleIcon {
  display: none;
}

.footer #belowCompanyName {
  display: block;
  /* padding-top: 43px; */
  /* padding-bottom: 40px; */
  border-image: repeating-linear-gradient(
    90deg,
    rgb(255, 255, 255) 0,
    rgb(255, 255, 255) 16px,
    transparent 0px,
    transparent 33px
  );
  border-image-slice: 1;
  border-top: 4px dashed white;
}

.footer #aboveIcons {
  display: none;
  padding-top: 43px;
  /* padding-bottom: 40px; */
  border-image: repeating-linear-gradient(
    90deg,
    rgb(255, 255, 255) 0,
    rgb(255, 255, 255) 16px,
    transparent 0px,
    transparent 33px
  );
  border-image-slice: 1;
  border-top: 4px dashed white;
}

.footer .container {
  padding: 0px;
  max-width: 1600px;
}

.footer .imgBg {
  margin-left: 10px;
  height: fit-content;

  padding: 16px;
  border-radius: 12px;
  border: 1.33px solid white;
}

.footer .mail,
.companyHeading,
.icons {
  margin: auto;
  width: 33.33%;
}

.footer h2,
.footer h1 {
margin-bottom: 0;
  color: white;
}

.footer h2 {
  text-transform: uppercase;
  font-size: clamp(1.125rem, 1.013rem + 0.416vi, 1.512rem);
  font-weight: 400;
  line-height: 39.26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer h1 {
  margin: auto;
  font-size: clamp(1.113rem, 0.528rem + 2.177vi, 3.141rem);
  font-weight: 700;
  line-height: clamp(1.625rem, 0.759rem + 3.221vi, 4.625rem);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footer .icons {
  justify-content: end;
  display: flex;
}

.footer .companyName {
  /* padding-bottom: 40px;
  border-image: repeating-linear-gradient(90deg, rgb(255, 255, 255) 0, rgb(255, 255, 255) 16px, transparent 0px, transparent 33px);
  border-image-slice: 1;
  border-bottom: 4px dashed white; */
  display: flex;
  justify-content: space-between;
}
.footer .copyright {
  font-size: clamp(1rem, 0.901rem + 0.369vi, 1.344rem);
  font-weight: 400;
  line-height: clamp(1.438rem, 1.293rem + 0.537vi, 1.938rem);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: white;
  display: flex;
  justify-content: center;
}

/* ----------------------------slider animation----------------------- */

/* 
.slider-container {
  perspective: 1000px; Creates the 3D space
  overflow: hidden;
}

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: visible; Allows the slides to appear outside the container
}

.slick-slide {
  transform-origin: center center; Set the transform origin
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.5; Dim inactive slides
}

.slick-center {
  transform: scale(1.1) translateZ(50px); Center slide pops out
  opacity: 1; Fully visible
}

.slick-active {
  transform: rotateY(-15deg); Angle for active slides
}

.slick-prev {
  transform: rotateY(15deg); Left slide rotates in 3D
}

.slick-next {
  transform: rotateY(-15deg); Right slide rotates in 3D
} */

/* -----------------------------------media-------------------------------- */
@media (min-width: 1920px) {
  /* .curiousHow{
  margin: auto;
  } */
  .curiousHow .backRectangle{
    right: -3.5%;
  }
}

@media (max-width: 1600px) {
  
  .footer {
    padding: 50px 30px;
   
  }
.faq .container{
  max-width: 1300px;
}
  .footer h2 {
    font-size: 17px;
  }



  /* prakhar */
  .siteNavbar {
    margin-bottom: 51px;
  }

  .curiousHow {
    margin-top: 98px;
    margin-bottom: 149px;
  }
  .contentCard .container {
    margin-bottom: 70px;
  }

  .growCard .container {
    margin-bottom: 149px;
  }

  .startYourLink {
    margin-bottom: 101px;
  }

  .growAudience {
    margin-bottom: 85px;
  }

  .faq {
    margin-bottom: 84px;
  }
  /* prakhar */

}

/* p */
@media (max-width: 1440px) {
    .menu ul {
      gap: 30px;
    }
  }
/* p */

@media (max-width: 1400px) {
    .menu ul {
        gap: 0px;
      }

  .contentCard .container{
    max-width: 1600px ;
  }



}

@media (max-width: 1400px) {

.curiousHow h1{
  margin-bottom: 60px;
}

  .faq .container {
    padding: 0;
    max-width: 1000px;
  }

  /* prakhar */
  .siteNavbar {
    margin-bottom: 31px;
  }

  .curiousHow .itemText {
    gap: 0px;
    padding: 5px 15px 5px 13px;
  }

  .curiousHow {
    margin-top: 98px;
    margin-bottom: 149px;
  }
  .curiousHow {
    margin-bottom: 129px;
  }
  .contentCard .container {
    margin-bottom: 50px;
  }

  .growCard .container {
    margin-bottom: 129px;
  }

  .startYourLink {
    margin-bottom: 81px;
  }

  /* min */
  .growAudience {
    margin-bottom: 62px;
  }

  .faq {
    margin-bottom: 64px;
  }
  /* prakhar */




  
}


@media (max-width :1280px){
    .menu ul {
      gap: 15px;
    }
    .freeTrial {
      padding: 9px 16px;
    }
   .curiousHow .itemText{
    padding: 5px 20px 25px 20px;
  }
  .hero .heading h1 {
    max-width: 850px;
    line-height: 60px;
  }
  .curiousHow .heading h1 {
    font-size: 61px;
   
    line-height: 75px;
}
.curiousHow {
  margin-bottom: 80px;
  margin-top: 118px;
  /* overflow: hidden; */
  
}
.accordion{
  max-width: 1000px;
  margin: auto;
}



  }



@media (max-width: 1200px) {

.contentCard img{
  width: 70%;
  /* margin: auto;
   */
   display: flex;
   justify-content: center;
}
/* .contentCard .image{
display: flex;
justify-content: center;
} */
.headingText h2{
  max-width: 900px;
  margin: auto;
}
.faq .accordion-button{
  font-size: 22px;
}


  .curiousHow .imageSection {
    margin-bottom: 40px;
    order: -1 !important;
  }
  .curiousHow .content {
    display: flex;
  }

  .curiousHow .itemText {
    gap: 0px;
  }

  .curiousHow .menu {
    margin: 0px 5px;
  }
  .curiousHow .menu  ul  li {
    display: flex;
    border-radius: 12px;
    border: 1px solid;
    list-style: none;
    padding: 0 5px;
  }

  .contentCard .container {
    margin-bottom: 42px;
}

  /* .contentCard .col-xl-6{
    margin-bottom: 40px;
  } */
 
.contentCard .image{
  order: 1;
}
.contentCard ul{
  /* padding: 0; */

  /* p */
  margin-bottom: 20px;
  margin-left: 12%;
}

/* prakhar */

  /* p */
  .menu ul {
    list-style: none;
    gap: 0px;
  }

  .siteNavbar {
    /* min */
    margin-bottom: 11px;
  }

  .curiousHow {
    margin-top: 78px;
    margin-bottom: 129px;
  }

  .contentCard .container {
    /* min */
    margin-bottom: 42px;
  }
  /* last card */
  .growCard .container {
    margin-bottom: 105px;
  }

  .startYourLink {
    /* min */
    margin-bottom: 61px;
  }

  /* .growAudience{
    margin-bottom: 62px;
  } */

  .faq {
    margin-bottom: 44px;
  }

  .contentCard h2,
  .contentCard p,
  .contentCard h3 {
    margin-bottom: 20px;
    margin-left: 8%;
  }

  /* prakhar */


  
}

@media (max-width: 1060px) {

.faq .container{
  max-width: 760px;
}

  .siteNavbar .toggle {
    display: block;
  }
  .siteNavbar .loginBtns {
    display: none;
  }
  .siteNavbar .menu {
    display: none;
  }

  .footer {
    padding: 36px 18px;
  }

  .footer #aboveIcons {
    display: block;
  }

  .footer .imgBg {
    padding: 8px;
  }

  .footer #aboveIcon {
    display: block;
    margin: 30px 10px;
    /* padding-top: 43px; */
    /* padding-bottom: 40px; */
    border-image: repeating-linear-gradient(
      90deg,
      rgb(255, 255, 255) 0,
      rgb(255, 255, 255) 16px,
      transparent 0px,
      transparent 33px
    );
    border-image-slice: 1;
    border-top: 4px dashed white;
  }

  .footer #mobileVisibleIcon {
    display: block;
  }

  .footer #belowCompanyName {
    display: none;
  }

  .footer .mail,
  .companyHeading,
  .icons {
    width: unset;
  }

  .footer .footerContent {
    gap: 16px;
  }

  .footer .companyName {
    border: none;
    flex-direction: column;
  }

  .footer .icons {
    margin-bottom: 16px;
    margin-top: 0px;

    
  }

  .footer .icons  img {
    height: 24px;
    width: 24px;
  }

  .footer .companyHeading {
    margin-bottom: 16px;
    margin-left: 0px;

    margin-right: auto;
    display: flex;
    gap: 7px;
    order: -1;
  }

/* prakhar */
.curiousHow {
    margin-top: 50px;
    margin-bottom: 109px;
  }

  .curiousHow {
    margin-bottom: 89px;
  }

  /* min */
  .faq {
    margin-bottom: 20px;
  }

  .growCard .container {
    margin-bottom: 85px;
  }

  /* prakhar */

}

@media (max-width: 992px) {
  /* .contentCard 
    .text {
      padding: 20px 20px;
    } */
/* prakhar */

.contentCard 
.text {
  padding: 0px 18px;
}

.curiousHow {
  margin-bottom: 89px;
}



.growCard .container {
  margin-bottom: 89px;
}

/* prakhar */

  
}

@media (max-width: 768px) {
  /* .container{
  padding: 18px !important;
} */

    .faq  {
    padding: 20px 18px;

    
  }

    .faq .headingText {
    margin-bottom: 24px;
  }

    .faq .accordion-button {
    padding: 16px;
  }
    .faq .accordion-body {
    padding: 16px;
  }

    .faq .accordion-item {
    border-radius: 12px;
  }

 
   .footer .companyHeading {
    margin-bottom: 16px;
  }

   .footer .icons {
    margin-bottom: 16px;
  }

   .footer #aboveIcon {
    margin: 20px 10px;
  }

  /* section:not(section.footer, section.siteNavbar) {
    margin-bottom: 60px;
  } */

  .curiousHow .backRectangle {
    border-radius: 23.27px;
      z-index: 1;
      right: -0.5%;
      height: 23%;
      top: 13%;
      position: absolute;
      width: 86%;
      background-color: #2044D2;}

      .curiousHow  .image {
        padding: unset;
           margin: 56px 26px;
       z-index: 2;
       right: -6px;
       width: 87%;
       position: absolute;
       top: 9%;
       border-radius: 23px;
     }
      .curiousHow  .backRectangleBottom {
       padding: 38%;
           overflow: hidden;
           top: 0%;
           right: -68px;
           z-index: -2;
           height: auto;
     }



  

   /* .curiousHow  .image {
    padding: unset;
    margin: 58px;
  }

   .curiousHow  .backRectangleBottom {
    top: -22%;
    left: -46px;
    z-index: -2;
    height: 136%;
    width: 124%;
  } */

  .growAudience {
    gap: 24px;
    
  }

  .growAudience  .startYourLink {
    margin: 0 auto 12px;
  }


  .hero 
    .slick-center .imgContainer {
      width: 230px !important;
    }
  

  .contentCard {
    padding: 18px;
    /* margin-bottom: 30px; */
  }
  .contentCard .image {
    order: 1;
  }

  .steps {
    order: 1;
  }

/* prakhar */


.curiousHow{
    margin-bottom: 89px;
  }
  
  .contentCard .text {
    padding: 0px;
  }
  
  /* prakhar */

}

@media (max-width: 576px) {
  .siteNavbar {
    margin-top: 23px;

    
  }

  .siteNavbar .logo {
    gap: 4px;
    
  }

  .siteNavbar .logo svg {
    height: 29px;
    width: 29px;
  }


}

@media (max-width: 430px) {
  section:not(section.footer, section.siteNavbar) {
    margin-bottom: 0px;
  }

  .curiousHow 
    .step:hover .itemIndex::after {
      right: -15px;
    }
  

  .curiousHow .itemText {
    gap: 4px;

    padding: 20px 10px 20px 25px;
  }

  
}


 
.faq .accordion-header {
  overflow: hidden;
  border-radius: 24px !important;
}

.faq .accordion-header:focus {
  outline: none;
}

.faq .accordion-item {
  backdrop-filter: blur(11.800000190734863px);

  margin-bottom: 32px;
  /* margin: 40px 0px; */
  border: 1px solid #0c2eb2;
  border-radius: 24px !important;
} 


/* -------------new */

.faq .accordion-button {
    padding: 32px;
    box-shadow: none;
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  
    border-radius: 24px 24px 0px 0px;
  
    background-color: white;
  }
  
  .faq .accordion-body {
    padding: 0px 32px 32px 32px;
  
    font-size: clamp(0.875rem, 0.767rem + 0.403vw, 1.25rem);
    font-weight: 400;
    line-height: 28.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .faq .accordion-button::after {
    color: var(--primary-text-color);
  }
  /* .faq h2.accordion-header  button {
    font-size: clamp(1.25rem, 1.178rem + 0.268vw, 1.5rem);
    font-weight: 700;
    line-height: clamp(1.75rem, 1.649rem + 0.376vw, 2.1rem);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  } */
  
  .faq .accordion-header {
    overflow: hidden;
    border-radius: 24px !important;
  }
  
  .faq .accordion-header:focus {
    outline: none;
  }
  
  .faq .accordion-item {
    backdrop-filter: blur(11.800000190734863px);
  
    margin-bottom: 32px;
    /* margin: 40px 0px; */
    border: 1px solid #0c2eb2;
    border-radius: 24px !important;
  }


  @media (max-width :1440px){
    .menu ul {
      gap: 30px;
    }
  }
.imageSection{
  overflow: hidden;
}

  
 

  .splide__slide img {
    height: 337px;
    object-fit: cover;
  }
  .splide__slide{
    width: 255px !important;
    margin-left: -5px !important;
  }

  .splide__slide.is-visible.is-active img{
height: 407px;
object-fit: cover;
  }

  .splide__slide.is-visible.is-active{
    width: 308px !important;
    margin-left: 10px !important;
    margin-right: 12px;
      }

  .splide-slideimg img{
    width: 100%;
  }

  .splide {
    padding: 20px 0;
  }
  
  .splide__slide img {
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: transform 400ms;
    transform: scale(0.9);
    transform-origin: center center;
  }
  
  .splide__slide.is-active img {
    transform: scale(1);
  }
  
  .splide .splide__arrow {
    top: 0;
    bottom: 0;
    height: 100%;
    transform: none;
    border-radius: unset;
    width: 50px;
    opacity: 0.9;
  }
  
  .splide .splide__arrow svg {
    filter: invert(1);
    width: 24px;
    height: 24px;
  }
  
  /* .splide__arrow.splide__arrow--prev {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .splide__arrow.splide__arrow--next {
    right: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  }
   */

   .splide__list {
    align-items: center;
}


 .menu ul li{
    text-wrap: nowrap;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    list-style: none;
    position: relative;
    border: 1px solid transparent;
    
  } 
  
  /* .menu ul li a::before{
    position: absolute;
    content: url(/images/point.svg);
    left: -16px;
  }
  .menu ul li a:hover::before {
    content: "";
  } */
/* =============================================================mukul============================================== */

   /*  mukul curious new section */
   .startedShow{
    display: none;
   }

   .growAudience p {
    font-size: 24px;
    line-height: 33px;
     max-width: 1330px;
    margin: auto;
  }

   @media(min-width:1200px)
   {
     .contentCards .container{
       max-width: 1600px;
       padding: 32px;
       /* border: 2px solid #0C2EB2;
       border-radius: 16px; */
       
   
     }
   
   }

.faq h2.accordion-header button {
  color: #0C2EB2;
}
.menu-offcanvas ul li a{
  text-decoration: none;
}
.menu-offcanvas ul li a:hover{
color: #0C2EB2 !important;
font-weight: 700 ;
}

.offcanvas-body {
  background: #FFF6E4;
}
.offcanvas-header {
  background: #FFF6E4;
}
/* .loginBtnsOffcanvas .login{
  background-color: #0C2EB2;
 color: white;
 } */
 .startedBtn:hover{
  color: #0C2EB2;
  background-color: transparent;
  transition: ease all 0.3s;
 }
.offcanvasBtn{
  background-color: #FFF6E4 !important;
  background: #FFF6E4;
}



.loginBtnsOffcanvas .login:hover{
 background-color: 0C2EB2;
 color: white;
}
  .CuriousSection{
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .curiousRight{
    padding: 20px 0;
  }
  .curiousRightInner{
    width: 970px;
    height: 714px;
    background-color: #0C2EB2;
    border-radius: 35px 0 0 35px;
    position: relative;

  }
  .curiousRightInner .curiousImg{
position: absolute;
top: 98px;
right: 0;
display: flex;
justify-content: end;
align-items: center;
border-radius: 24px;
  }
  .curiousRightInner .curiousImg img{
    border-radius: 24px 0 0 24px;
    z-index: 1;
  }

  .inputIdeaParent{
    display: flex;
    max-width: 647px;
    gap: 123px;

  }
  .CuriousLeft{
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .inputIdeaImage{

  }
  .inputNumber{
    margin: auto;
font-size: 48px;
line-height: 44.66px;
letter-spacing: -0.02em;

  }

  .inputText{
    display: flex;
    flex-direction: column;
    position: relative;
    
  }
  .inputText:hover::before {
    position: absolute;
    content: " ";
    height: 175px;
    width: 4px;
    background-color: #0C2EB2;
    left: -10%;
}

  .backRectangleBottom {
    /* z-index: 0; */
    overflow: hidden;
    right: -55px;
    position: absolute;
    /* padding-bottom: -93px; */
    padding: 39%;
    border-radius: 35px;
    /* width: 100%; */
    position: relative;
    background: #0C2EB2;
  }
   .backRectangle{
    border-radius: 23.27px;
    z-index: 1;
    right: 1.5%;
    height: 23%;
    top: 10%;
    position: absolute;
    width: 86%;
    background-color: #2044D2;
  
  }
  .contentCards{
    margin-top: 90px;
  }

  .contentCards .container{
   
    border: 2px solid #0C2EB2;
    border-radius: 16px;
    

  }

  /* mukul stopCard2 */






.contentCards .cardImg {
  margin: auto;
  padding-right: 56px;
}

.formImg{
  padding-left: 56px;
  padding-right: unset !important;
}
.imageMargin{
  margin: auto !important;
  
}

.contentCards .cardImg img{
  margin: auto;
  max-width: 100%;
}
.contentCards h2{
  
font-size: 50px;
font-weight: 700;
line-height: 70px;
letter-spacing: -4px;
text-align: left;
margin-bottom: 20px;

}
.contentCards p{
  font-family: Space Mono;
font-size: 20px;
font-weight: 400;
line-height: 28.9px;
text-align: left;


}
.contentCards ul li{
  font-family: Space Mono;
font-size: 20px;
line-height: 35px;
text-align: left;


}
.contentCards h3{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}



@media (max-width:1440px){
  .curiousRightInner {
    width: 700px;
    height: 530px;
   
}
/* .curiousRightInner .curiousImg img{
  max-width: 90%;
} */

.curiousRightInner .curiousImg {
  position: absolute;
  top: 68px;
  display: flex;
  justify-content: end;
  align-items: center;
  /* right: -25%; */
  border-radius: 24px;
}
.contentCards h2 {
  font-size: 42px;
  line-height: 60px;
 
}
.CuriousLeft {
  gap: 40px;
}

}



@media (max-width:1366px){
  
  .inputIdeaParent {
  
    gap: 80px;
  }
  .curiousHow .heading h1 {
    font-size: 70px;
    line-height: 83px;
    margin: 90px auto;
  }
  .faq .accordion-button {
    padding: 25px;
  }


}
@media (max-width:1280px){

.curiousRightInner {
  width: 600px;
  height: 450px;
}
.CuriousLeft {
  gap: 20px;
}
.faq .headingText{
  margin-bottom: 40px;
}
.faq h1 {
  margin: auto;
 
  line-height: clamp(2.469rem, 1.558rem + 3.389vw, 5.625rem);
  letter-spacing: -4px;
  text-align: center;
  max-width: 598px;
  font-size: 65px;
}
.parentCreator {
  margin-bottom: 30px;
}


}
@media (max-width:1024px){

  .contentCards h2 {
    font-size: 35px;
    line-height: 45px;
}
.contentCards p {
  
  font-size: 18px;
  line-height: 25.9px;
  
}
.contentCards ul li {
  
  font-size: 18px;
  line-height: 30px;

}
.CuriousLeft {
  gap: 30px;
}
.CuriousSection {

  flex-wrap: wrap;
}
.inputIdeaParent {
  max-width: 90%;
  gap: 123px;
  margin: auto;
}
.curiousHow .heading h1 {
  font-size: 60px;
  line-height: 65px;
  margin: 60px auto;
}
.faq .headingText{
  margin-bottom: 40px;
}
.contentCards .cardImg {
  margin: auto;
  padding-right: 15px;
}
.contentCards h2 {
  font-size: 35px;
  line-height: 40px;
}
.contentCards h2 {
  font-size: 35px;
  line-height: 40px;
  padding-top: 20px;
}
.faq h1 {
  font-size: 55px;
}
.contentCards .cardImg {
  margin: auto;
  padding-right: 15px;
}
.hero .heading h1 {
  max-width: 700px;
}

}





@media (max-width:991px){
  .creatorsImg {
    margin-bottom: 30px;
  }
  .formImg {
    padding-left: unset !important;
    padding-right: unset !important;
    padding-bottom: 20px;
}
  .parentCreator {
    margin-top: 50px;
}
.hero .heading h1 {
  max-width: 850px;
  line-height: 60px;
  font-size: 51px;
}
  .CuriousSection{
    /* flex-wrap: wrap; */
    justify-content: center;
  }
  .inputIdeaParent {
    /* max-width: 100%; */
  }
  .curiousRightInner {
    /* width: 100%; */
    /* height: 714px; */
    position: relative;
}
.textMargin{
  margin-top: 40px !important;
}
.cardImg{
  margin-top: 20px !important;
}
.contentCards h2 {
  font-size: 27px;
  line-height: 30px;
}
.contentCards h3 {
  font-size: 19px;
}
.curiousHow .heading h1 {
  font-size: 50px;
  line-height: 73px;
  margin: 50px auto;
  max-width: 100%;
  /* width: 100%; */
}
.curiousHow {
  margin-top: unset;
 
}
.growAudience p {
  margin: auto;
  max-width: 90%;
}
.faq .headingText {
  margin-bottom: 84px;
  margin: 20px auto 40px auto;
  gap: 28px;
}
.faq .accordion-body {
  padding: 0px 20px 20px 30px;
  font-size: clamp(0.875rem, 0.767rem + 0.403vw, 1.25rem);
  font-weight: 400;
  line-height: 25.9px;
  
}
.faq h1 {
  font-size: 50px;
}
.hero .heading h1 {
  max-width: 650px;
}











}





@media(max-width:768px){

  .curiousHow {
    margin-top: unset;
    margin-bottom: 0px;
}
  .curiousHow .heading h1 {
    font-size: 40px;
    line-height: 60px;
    margin: 0px auto 50px auto;

}
.CuriousLeft {
  gap: 20px;
}
curiousHow h2 {

  font-size:22px;
  line-height: 35.66px;
  
}
.curiousHow p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  
}
.contentCards {
  margin-top: 50px;
}
.growAudience {
  margin-bottom: 80px;
  margin-top: 50px;
}
.inputIdeaParent {
  max-width: 100%;
  gap: 100px;
  margin: auto;
}
.CuriousSection {
  /* flex-wrap: wrap; */
  justify-content: end;
}
.curiousHow {
  padding: unset;
}
.growAudience p {
  font-size: 20px;
 
  max-width: 1030px;
  margin: auto;
}



}








@media(max-width:605px){
  .curiousRightInner {
    width: 400px;
    height: 300px;
}
.inputIdeaParent {
  
  gap: 30px;
 
}
.contentCards h2 {
  font-size: 22px;
  line-height: 27px;
}
.contentCards p {
  font-size: 16px;
  line-height: 20.9px;
}
.contentCards ul li {
  font-size: 16px;
  line-height: 25px;
}
.growAudience p {
  margin: auto;
  max-width: 98%;
  font-size: 16px;
}
.growAudience {
  margin-bottom: 15px;
  margin-top: 40px;
}
.faq h2.accordion-header button {
  font-size: 18px;
}
.hero .heading h1 {
  max-width: 100%;
  line-height: 27px;
  font-size: 27px;
}
.curiousHow .heading h1 {
  font-size: 27px;
  line-height: 35px;
  margin: 0px auto 35px auto;
}
.inputNumber {
  margin: auto;
  font-size: 35px;
  line-height: 40.66px;
  letter-spacing: -0.02em;
}

.growAudience .startYourLink {
  margin: 0 auto 121px;
  /* margin: auto; */
  text-decoration: none;
  background-color: #0C2EB2;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex
;
  font-size: 21px;

  line-height: 37px;
  text-align: left;
  gap: 16px;
  align-items: center;
  padding: 10px 15px ;
  gap: 16px;
}
.growAudience .startYourLink {
  padding: 10px 12px;
  font-size: 18px;
}
.growAudience marquee {
  padding: 8px;
}
.curiousHow p {
  font-size: 14px;
}
.startedShow{
display: flex;
margin-bottom: 50px!important;

}
.startedHide{
  display: none;
}

}

@media(max-width:450px){
  .creatorsText{
    font-size: 14px;
  }




}


.offcanvas-header .btn-close {
  padding: calc(var(--bs-offcanvas-padding-y) * 0.5) calc(var(--bs-offcanvas-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-offcanvas-padding-y)) calc(-0.5 * var(--bs-offcanvas-padding-x)) calc(-0.5 * var(--bs-offcanvas-padding-y)) auto;
  color: blue !important; /* Change the text or icon color to blue */
  background-color: transparent; /* Ensure the background remains clear (or specify a color) */
  border: none; /* Optional: remove any border if present */
}
.offcanvas-header .btn-close {
  color: blue !important; /* Change icon/text color */
  background-color: transparent !important; /* No background or specify one */
  border: none !important; /* Remove border if present */
}


.startedBtn:hover svg path {
  fill: var(--primary-text-color);
}

.hero .heading h1 span{
  position: relative;
  margin-right: 85px;
}

.hero .heading h1 span img{
  position: absolute;
  /* margin-left: 24px; */
  right: -120px;
  bottom: 0;
}
.icons .imgBg{
  cursor: pointer;
}
.icons .imgBg:hover{
  background: white;
}
.imgBg svg path {
  fill: white; /* Set initial fill color */
}

/* Hover effect */
.imgBg:hover svg path {
  fill: #0c2eb2; /* Change color on hover (red in this example) */
}


/* .curiousImg img{
  position: relative;
} */

.curiousImg::after{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: -35px;
  background-color: #2044D2;
  z-index: 0;
  right: 0;
  width: 100%;
  max-width: 796px;
  border-top-left-radius: 24px;
  height: 272px;
}

.offcanvasBtn:hover {
  background-color: unset !important;
  }
  .offcanvasBtn:hover svg path{
  fill: #0C2EB2 !important;
  }
  .menu-offcanvas ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu-offcanvas ul li a{
  color: #0C2EB2;
  }
  .btn-close{
    opacity: 1 !important;
  }


@media (max-width:1750px){
  .curiousRightInner {
    width: 910px;
    height: 684px;
}
}

@media (max-width:1620px){
  .curiousRightInner .curiousImg {
    right: 0px;
    left: 50px;
}

.curiousRightInner .curiousImg img{
width: 100%;
}
.curiousRightInner {
  width: 720px;
  height: 544px;
}
}


@media (max-width:1440px){

  .curiousHow {
    padding-left: 40px;
}
}





@media (max-width:1200px){

  .CuriousSection {
    flex-wrap: wrap;
    justify-content: center;
}
.freeTrial, .login {
  padding: 9px 8px;
  font-size: 16px;
  justify-content: center;
}
.menu-offcanvas ul {
  align-items: center;
}
.menu ul li {
  padding: 6px 7px;
}
.parentCreator {
  margin-bottom: 25px;
  margin-top: 50px;
}
.menu ul {
  gap: 20px;
}


.contentCards h2 {
  font-size: 40px;
  line-height: 45px;
}
.formImg {
  padding-left: 30px;
  padding-right: unset !important;
}
.contentCards .cardImg {
  margin: auto;
  padding-right: 30px;
}
.curiousRight{
  display: flex;
  justify-content: end;
  width: 100%;
}


}

@media (max-width:991px){
.contentCards .cardImg {
  padding-right: 0;
}
}


@media (max-width:767px){
  .curiousRightInner {
    width: 350px;
    height: 254px;
    margin-left: auto;
  }
  .hero .heading h1 span img {
    right: -60px;
    width: 50px;
}
.swiper-3d {
  padding-top: 0px !important;
}
.contentCards h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: -0.04em;
}
.growAudience .startYourLink {
  margin: 0 auto 0px;
}
.faq h1 {
  font-size: 28px;
}
.swiper {
  height:200px;
}
.CuriousSection {
  flex-direction: column-reverse;
}
.curiousRightInner .curiousImg {
  left: 20px;
}
.curiousHow {
  padding-left: 18px;
}
.contentCards .row{
  flex-direction: column-reverse;
}
.textMargin {
  margin-top: 0 !important;
}

.contentCards .row .textMargin{
  padding: 0 22px;
}
.contentCards .cardImg {
  padding: 0 12px;
  padding-bottom: 32px;
}
.contentCards h2 {
  padding-top: 22px;
}
.contentCardsflx .row{
  flex-direction: column;
}
.splide__slide.is-visible.is-active {
  width: 200px !important;
}
.splide__slide.is-visible.is-active img {
  height: 283px;
}
.splide__slide img {
  height: 263px;
}
.splide__slide {
  width: 198px !important;
}
/* .splide__track {
  padding-left: 20% !important;
} */

.creatorsImg {
  margin-bottom: 0px;
}
.curiousHow .heading h1 {
  margin: 0px auto 10px auto;
}

.creatorsText {
  font-size: 10px;
}
.creatorsImg img{
  width: 100px;
}


/* .swiper-slide-visible.swiper-slide-active{
  width: 126px !important;
}

.swiper-slide-visible.swiper-slide-active img{
  height: 169px;
} */

.inputIdeaImage img{
  width: 32px;
  height: 32px;
}
.inputNumber {
  font-size: 32px;  
}
.siteNavbar .container {
  padding: 0;
}
.splide{
  height: 300px;
}
.inputText:hover::before {
  height: 100%;
}
.curiousRightInner .curiousImg {
  top: 25px;
}
.curiousRightInner .curiousImg img {
  border-radius: 10px 0 0 10px;
}
.curiousImg::after {
  top: -15px;
  max-width: 306px;
  border-top-left-radius: 10px;
  height: 100px;
}
.curiousRightInner {
  border-radius: 15px 0 0 15px;
  height: 274px;
}
.curiousRightInner .curiousImg {
  top: 37px;
}
.CuriousSection {
  gap: 20px;
}
.inputText:hover::before {
  left: -18px;
}
.startedBtn {
  margin: 0 18px;
  max-width: 100%;
}
.hero .heading h1 {
  font-size: 31px;
}
.hero {
  padding-top: 0;
  padding-bottom: 0;
}

.growAudience p{
font-size: 18px;
font-weight: 400;
line-height: 25.2px;
letter-spacing: -0.02em;
}

.growAudience h1{
font-size: 28px;
font-weight: 700;
line-height: 39.2px;
letter-spacing: -0.04em;
margin-bottom: 24px;
}

.faq h1{
font-size: 28px;
font-weight: 700;
line-height: 39.2px;
letter-spacing: -0.04em;

}
.faq .headingText {
  gap: 20px;
}
#topAccordion button {
  border-radius: 42px;
  padding: 16px;
}
.faq .accordion-item {
    border-radius: 12px !important;
}
.faq .accordion-header {
  border-radius: 12px !important;
}
.faq h2.accordion-header button {
  border-radius: 11px;
  padding: 16px;
}
.faq .accordion-button::after {
  margin-top: 8px;
}
.faq .accordion-body {
  padding: 0 16px 16px 16px;
}
.footer .mail{
  margin: 0;
}
.carouselImg {
  width: 60px;
  height: 160px;
  
}
.footer .companyName{
  margin: auto;
}
.footer .companyHeading{
  margin: auto;
}

/* .swiper-slide-next{
  width: 150px !important;
}
.swiper-slide{
  width: 270px !important;
}
.swiper-slide-active{
  width: 126px !important;
} */
/* .swiper-slide{
  width: 200px !important;
} */
 /* .swiper-slide-visible.swiper-slide-active{
  width: 126px !important;
 }
 .swiper-slide-prev img, .swiper-slide-next img{
  width: 200px !important;
 } */

.swiper-3d .swiper-wrapper {
  padding-top: 30px;
}
.sliderpad {
  padding-top: 0 !important;
}
.startedBtn {
  padding: 11.5px 28px;
}

  }
  

  @media (max-width:320px){
  .curiousRightInner {
    width: 313px;
    height: 234px;
    margin-left: auto;
}
  }